:root {
  --color-primary: #2d4190;
  --color-secondary: #e35c9c;
  --color-positive: #28be89;
  --color-negative: #e65151;
  --color-background: #f6f7f9;
  --color-headertxt: #0a143a;
  --color-border: #c9cbd5;
  --color-tabletxt: #636888;
  background-color: #f6f7f9;
  padding-top: 64px;
  padding-left: 148px;
  padding-right: 148px;
  direction: rtl;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
